/* Base styles for common HTML elements */

/* General typography */
body {
	background: $primary-background-color;
	color: $primary-text-color;
	font-family: $font-sans-primary;
	font-size: 1rem;
	line-height: 1.5;

	.container {
		padding: 1em;
		max-width: 900px;
		margin: 0 auto;
	}
}

a {
	color: $primary-text-color;
	text-decoration: none;
	border-bottom: 1px dotted;

	&:focus,
	&:hover {
		border-bottom: 1px solid;
		text-decoration: none;
	}
}

abbr[title] {
	text-decoration: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $secondary-text-color;
	font-family: $font-sans-serif;
	font-weight: 700;
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}

/* Paragraphs */
p {
	margin: 1em 0;
}

/* Links */

/* Lists */
ul,
ol {
	margin: 1em 0;
	padding-left: 1.5em;
}

li {
	margin-bottom: 0.5em;
}
