@import "../../../node_modules/nord/src/sass/nord.scss";

$primary-background-color: $nord0;
$secondary-background-color: $nord4;
$primary-text-color: $nord4;
$secondary-text-color: $nord0;
$tertiary-text-color: $nord7;
