@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Thin.ttf);
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-ThinItalic.ttf);
	font-weight: 100;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-ExtraLight.ttf);
	font-weight: 200;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-ExtraLightItalic.ttf);
	font-weight: 200;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Light.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-LightItalic.ttf);
	font-weight: 300;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Italic.ttf);
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-SemiBoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-BoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-ExtraBoldItalic.ttf);
	font-weight: 800;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-Black.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Public Sans";
	src: url(./assets/fonts/Public_Sans/static/PublicSans-BlackItalic.ttf);
	font-weight: 900;
	font-style: italic;
	font-display: fallback;
}

$font-sans-primary: "Public Sans", sans-serif;

body {
	font-family: $font-sans-primary;
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.75;

	a {
		text-decoration: none;
		font-weight: 400;
		border-bottom: 1px dotted;

		&:focus,
		&:hover {
			border-bottom: 1px solid;
			text-decoration: none;
		}
	}

	abbr[title] {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-sans-primary;
	font-weight: 200;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}
