/* Footer */
#site-footer {
	background-color: $primary-background-color;
	padding: 0;
	margin: 0;

	.footer-inner {
		margin: auto;
		max-width: 900px;
		padding: 20px;
		font-size: 15px;
		font-weight: 100;

		.footer-menu {
			display: inline;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline;

				&::after {
					content: " \2022 ";
				}
			}
		}

		.icon-heart {
			background: url("assets/images/heart-solid.svg") no-repeat center center;
			display: inline-block;
			filter: invert(72%) sepia(0%) saturate(3645%) hue-rotate(315deg) brightness(94%) contrast(97%);
			height: 12px;
			width: 12px;
		}
	}
}
